<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all', class: "btn btn-outline-secondary btn-sm" %>
<% end %>
<p style="margin: 5px">&nbsp;</p>

<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body.present? %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= message.user.name %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %> /
              <% if message.user == current_user %>
                <%= message.read ? '既読' : '未読' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_with(model: [@conversation, @message]) do |f| %>
<div class="form-group">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div class="action">
    <%= f.submit "メッセージを送る", class: "btn btn-outline-primary" %>
  </div>
<% end %>
<br>
<%= link_to '戻る', root_path, class: "btn btn-outline-secondary btn-sm" %>

<p style="margin: 5px">&nbsp;</p>
