<%= form_with(model: [diary, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h5 class="h5-responsive"><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h5>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :content, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn indigo accent-1 btn-sm" %>
  </div>
<% end %>
