<div class="container">
  <h5 class="h5-responsive" align="center"><%= t('view.request_body') %></h5>

  <table class="table table-hover table-sm">
    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= link_to request.body, admin_request_path(request) %></td>
          <td><%= link_to request.user.name, admin_request_path(request) %></td>
          <td><%= link_to request.status, admin_request_path(request) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div align="center">
    <%= link_to '要望一覧へ', admin_requests_path, class: "btn indigo accent-1 btn-sm" %>
  </div>

  <p style="margin: 20px">&nbsp;</p>

  <div class="row">
    <div class="w-50">
      <h5 class="h5-responsive" align="center"><%= t('view.pose') %></h5>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th><%= t('view.pose_name') %></th>
            <th><%= t('view.pose_name_sans') %></th>
          </tr>
        </thead>

        <tbody>
          <% @poses.each do |pose| %>
            <tr>
              <td><%= link_to pose.name, admin_pose_path(pose) %></td>
              <td><%= link_to pose.sans_name, admin_pose_path(pose) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div align="right">
        <%= link_to 'ポーズ一覧へ', admin_poses_path, class: "btn indigo accent-1 btn-sm" %>
      </div>
    </div>

    <div class="w-50">
      <h5 class="h5-responsive" align="center"><%= t('view.user') %></h5>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th><%= t('view.user') %></th>
            <th><%= t('view.email') %></th>
            <th><%= t('view.admin') %></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, admin_user_path(user) %></td>
              <td><%= link_to user.email, admin_user_path(user) %></td>
              <td><%= link_to human_boolean(user.admin), admin_user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div align="right">
        <%= link_to 'ユーザ一覧へ', admin_users_path, class: "btn indigo accent-1 btn-sm" %>
      </div>

    </div>
  </div>

  <p style="margin: 20px">&nbsp;</p>

  <div class="row">
    <div class="w-50">
      <h5 class="h5-responsive" align="center"><%= t('view.effect') %></h5>
      <table class="table table-hover table-sm">
        <tbody>
          <% @effects.each do |effect| %>
            <tr>
              <td><%= link_to effect.name, edit_admin_effect_path(effect) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div align="right">
        <%= link_to '効果一覧へ', admin_effects_path, class: "btn indigo accent-1 btn-sm" %>
      </div>
    </div>

    <div class="w-50">
      <h5 class="h5-responsive" align="center"><%= t('view.tag') %></h5>
      <table class="table table-hover table-sm">

        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= link_to tag.name, edit_admin_tag_path(tag) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div align="right">
        <%= link_to 'タグ一覧へ', admin_tags_path, class: "btn indigo accent-1 btn-sm" %>
      </div>
    </div>
  </div>
</div>
