<div class="container">
  <div class="row">
    <div class="w-50">
      <h4><%= t('view.pose') %>編集</h4>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('view.pose_name') %></th>
            <th><%= t('view.pose_name_sans') %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @poses.each do |pose| %>
            <tr>
              <td><%= pose.name %></td>
              <td><%= pose.sans_name %></td>
              <td><%= link_to '詳細', admin_pose_path(pose) %></td>
              <td><%= link_to '編集', edit_admin_pose_path(pose) %></td>
              <td><%= link_to '削除', admin_pose_path(pose), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <%= link_to '一覧へ', admin_poses_path, class: "btn btn-outline-primary" %>

    </div>

    <div class="w-50">
      <h4><%= t('view.user') %>編集</h4>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('view.username') %></th>
            <th><%= t('view.email') %></th>
            <th><%= t('view.admin') %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.admin %></td>
              <td><%= link_to '詳細', admin_user_path(user) %></td>
              <td><%= link_to '編集', edit_admin_user_path(user) %></td>
              <td><%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= link_to '一覧へ', admin_users_path, class: "btn btn-outline-primary" %>

    </div>
  </div>

<p style="margin: 20px">&nbsp;</p>

  <div class="row">
    <div class="w-50">
      <h4><%= t('view.effect') %>編集</h4>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('view.effect') %></th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @effects.each do |effect| %>
            <tr>
              <td><%= effect.name %></td>
              <td><%= link_to '編集', edit_admin_effect_path(effect) %></td>
              <td><%= link_to '削除', admin_effect_path(effect), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= link_to '一覧へ', admin_effects_path, class: "btn btn-outline-primary" %>
    </div>

    <div class="w-50">
      <h4><%= t('view.tag') %>編集</h4>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('view.tag') %></th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag.name %></td>
              <td><%= link_to '編集', edit_admin_tag_path(tag) %></td>
              <td><%= link_to '削除', admin_tag_path(tag), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to '一覧へ', admin_tags_path, class: "btn btn-outline-primary" %>

    </div>
  </div>
</div>
