<%= form_with(model: diary, local: true ) do |form| %>
  <% if diary.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(diary.errors.count, "error") %> が存在しているため、保存出来ません:</h4>

      <ul>
      <% diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :worked_date %>
    <%= form.date_field :worked_date, value: Time.now.strftime("%Y-%m-%d"), id: :diary_worked_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :diary_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :pose %>
    <%= form.select :pose_id, Pose.all.map { |pose| [pose.name, pose.id] }, {}, class: "form-control" %>
    <br>
    <%= link_to 'ポーズ一覧', poses_path, class: "btn btn-outline-primary btn-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :rank %>
    <%= form.select :rank, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10]], {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :diary_body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= image_tag(@diary.image.url) if @diary.image && @diary.image.url %>
    <%= form.file_field :image, class: "form-control-file" %>
    <%= form.hidden_field :image_cache %>
  </div>

  <%= t('view.tag') %>
  <br>
  <% Tag.all.each do |tag| %>
    <% if action_name == "new" || action_name == "create" %>
      <%= form.check_box :tag_ids, { multiple: true, checked: tag[:checked], disabled: tag[:disabled], include_hidden: false}, tag[:id], class: "form-check-input" %>
      <label style="background-color: lightpink"><%= tag.name %></label>
    <% elsif action_name == "edit" || action_name == "update" %>
      <%= form.check_box :tag_ids, { multiple: true, checked: @diary.tag_ids.include?(tag.id), disabled: tag[:disabled], include_hidden: false}, tag[:id], class: "form-check-input" %>
      <label style="background-color: lightpink"><%= tag.name %></label>
    <% end %>
  <% end %>

 <br>
  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
