<script type="text/javascript">
    $(function() {
    $('#pose_auto_complete').autocomplete({
      source: "/poses/auto_complete.json",
      delay: 500,
      minLength: 2,
      focus: function(event, ui) {
        $("#pose_auto_complete").val(ui.item.name);
        return false;
      },
      select: function(event, ui) {
        $("#pose_auto_complete").val(ui.item.name);
        $("#pose_id").val(ui.item.id);
        return false;
      }
      }).data("ui-autocomplete")._renderItem = function(ul, item) {
          return $("<li>").attr("data-value", item.name).data("ui-autocomplete-item", item).append("<a>" + item.name + "</a>").appendTo(ul);
          }
        });
</script>

<%= form_with(model: diary, local: true ) do |form| %>
  <% if diary.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(diary.errors.count, "error") %> が存在しているため、保存出来ません:</h4>

      <ul>
      <% diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :worked_date %>
    <%= form.date_field :worked_date, value: Time.now.strftime("%Y-%m-%d"), id: :diary_worked_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :diary_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :pose %>
    <div class="form-inline">
      <% if action_name == "edit" || action_name == "update" %>
        <%= form.text_field :pose_name, id: :pose_auto_complete, class: "form-control w-50", value: diary.pose.name %>
      <% else %>
        <%= form.text_field :pose_name, id: :pose_auto_complete, class: "form-control w-50" %>
      <% end %>
      <%= form.hidden_field :pose_id, id: :pose_id %>
    <span class="pr-5"></span>
      <%= link_to 'ポーズ検索はこちら', poses_path, class: "btn btn-outline-primary btn-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :rank %>
    <%= form.select :rank, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10]], {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :diary_body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= image_tag(@diary.image.url) if @diary.image && @diary.image.url %>
    <%= form.file_field :image, class: "form-control-file" %>
    <%= form.hidden_field :image_cache %>
  </div>

  <%= t('view.tag') %>
  <br>
  <% Tag.all.each do |tag| %>
    <% if action_name == "new" || action_name == "create" %>
      <%= form.check_box :tag_ids, { multiple: true, checked: tag[:checked], disabled: tag[:disabled], include_hidden: false}, tag[:id], class: "form-check-input" %>
      <label style="background-color: #B2E2EC"><%= tag.name %></label>
    <% elsif action_name == "edit" || action_name == "update" %>
      <%= form.check_box :tag_ids, { multiple: true, checked: @diary.tag_ids.include?(tag.id), disabled: tag[:disabled], include_hidden: false}, tag[:id], class: "form-check-input" %>
      <label style="background-color: #B2E2EC"><%= tag.name %></label>
    <% end %>
  <% end %>

  <p style="margin: 5px">&nbsp;</p>
  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
<p style="margin: 5px">&nbsp;</p>
