<div class="container">
  <div class="row">
    <div class="w-50">
      <h4>ランキング</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('view.rank') %></th>
            <th><%= t('view.pose_name') %></th>
          </tr>
        </thead>

        <tbody>
          <% i = 1 %>
          <% @rankings.each do |rank| %>
            <tr>
              <td><%= i %></td>
              <td><%= rank[0] %></td>
            </tr>
            <% i += 1 %>
          <% end %>
        </tbody>
      </table>
      <%= link_to "ランキングをもっと見る", ranking_diaries_path, class: "btn btn-outline-primary btn-sm" %><br>
    </div>

    <div class="w-50">
      <table class="table table-borderless">
        <tr>
          <td>
      フォロワー数
      </td>
      <td>
      <%= @user.followers.count %><br>
      </td>
      </tr>
      <tr>
        <td>
      フォローしている数
    </td>
      <td>
      <%= @user.following.count %>
      </td>
      </tr>

      <tr>
        <td>
      フォロワー一覧
      </td>
      <td>
      <% @user.followers.each do |follow| %>
      <%= link_to follow.name, user_path(follow.id) %><br>
      </td>
      <% end %>
      </tr>

    <% if @user.id == current_user.id %>
    <tr>
      <td colspan="2">
      <div class="item">
        メッセージのやり取りを開始する<br>
        </td>
        <tr>
          <td colspan="2">
        <%= link_to 'メッセージ一覧', conversations_path, class: "btn btn-outline-primary btn-sm" %>
      </div>
      </td>
      </tr>
    <% end %>
    </table>
    </div>
  </div>


  <div class="row">
    <div class="w-50">
      <%= month_calendar events: @diaries, attribute: :worked_date do |date, diaries| %>
        <%= date.to_formatted_s(:only_day) %>
        <br>
        <% diaries.each do |diary| %>
          <%= link_to '●', diary %>
        <% end %>
      <% end %>
    </div>
    <div class="w-50">
     通知
    </div>
  </div>

  <div class="row">
    <div align="center">
      <div class="card-deck">
        <% @items.first(5).each do |item| %>
          <div class="card" style="width:15rem;">
          <% if item["imageFlag"] == 1 %>
            <%= link_to (image_tag(item["mediumImageUrls"][0])), item["affiliateUrl"], class: "card-img-top" %>
          <% end %>
            <div class="card-body">
              <p class="card-text"><font size="-1"><%= link_to item.name, "#{item.url}" %></font></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
