<div class="container">
  <div class="row">
    <div class="w-75">
ランキング
    </div>
    <div class="w-25">
      フォロワー数
      <%= @user.followers.count %><br>
      フォローしている数<br>
      <%= @user.following.count %><br>
      <br>
      フォロワー一覧<br>
      <% @user.followers.each do |follow| %>
      <%= link_to follow.name, user_path(follow.id) %><br>
      <% end %>
      <br>
    <% if @user.id == current_user.id %>
      <div class="item">
        メッセージのやり取りを開始する<br>
        <%= link_to 'メッセージ一覧', conversations_path %></h5>
      </div>
    <% end %>
    </div>
  </div>

  <p style="margin: 20px">&nbsp;</p>

  <div class="row">
    <div class="w-50">
      <%= month_calendar events: @diaries, attribute: :worked_date do |date, diaries| %>
        <%= date.to_formatted_s(:only_day) %>
        <br>
        <% diaries.each do |diary| %>
          <%= link_to '●', diary %>
        <% end %>
      <% end %>
    </div>
    <div class="w-50">
     通知
    </div>
</div>
