<p>
  <strong><%= t('view.worked_date') %>:</strong>
  <%= @diary.worked_date %>
</p>

<p>
  <strong><%= t('view.title') %>:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong><%= t('view.pose') %>:</strong>
  <%= @diary.pose.name %>
</p>

<p>
  <strong><%= t('view.image') %>:</strong>
  <%= image_tag(@diary.image.url) if @diary.image && @diary.image.url %>
</p>

<p>
  <strong><%= t('view.rank') %>:</strong>
  <%= @diary.rank %>
</p>

<p>
  <strong><%= t('view.tag') %>:</strong>
  <% @diary.tag_ids.each do |tag| %>
  <label style="background-color:lightpink"><%= Tag.find(tag).name %></label>
  <% end %>
</p>

<p>
  <strong><%= t('view.body') %>:</strong>
  <%= @diary.body %>
</p>

<p><%= t('view.comment') %>はこちらへ</p>
  <%= render partial: 'comments/form', locals: { comment: @comment, diary: @diary } %>

<p style="margin: 5px">&nbsp;</p>

<p><%= t('view.comment') %><%= t('view.index') %></p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, diary: @diary } %>
  </div>

<%= link_to '編集', edit_diary_path(@diary), class: "btn btn-outline-secondary btn-sm" %>
<%= link_to '戻る', diaries_path, class: "btn btn-outline-secondary btn-sm" %>
<p style="margin: 5px">&nbsp;</p>
