<div class="container">
  <div class="col-12">
    <table class="table" width="100%">
      <tr>
        <th colspan="2"><%= link_to @diary.user.name, user_path(@diary.user) %></th>
      </tr>
      <tr>
        <th colspan="2"><%= @diary.worked_date %><span class="ml-5"></span><%= @diary.title %></th>
      </tr>
      <tr>
        <td colspan="2" align="center"><%= image_tag(@diary.image.url) if @diary.image && @diary.image.url %></td>
      </tr>
      <tr>
        <th><%= t('view.pose') %></th>
        <td><%= @diary.pose.name %></td>
      </tr>
      <tr>
        <th><%= t('view.rank') %></th>
        <td><%= @diary.rank %></td>
      </tr>
      <tr>
        <th><%= t('view.tag') %></th>
        <td>
          <% @diary.tag_ids.each do |tag| %>
            <label style="background-color:#B2E2EC"><%= Tag.find(tag).name %></label>
          <% end %>
        </td>
      </tr>
      <tr>
        <th colspan="2"><%= t('view.body') %></th>
      </tr>
      <tr>
        <td colspan="2"><%= @diary.body %></td>
      </tr>
    <% if @diary.user == current_user %>
    <tr>
      <td colspan="2" align="center">
        <%= link_to '編集', edit_diary_path(@diary), class: "btn indigo accent-1 mr-3" %>
        <%= link_to '削除', diary_path(@diary), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-outline-danger" %>
      </td>
    </tr>
    <% end %>
    <% if @diary.user != current_user %>
    <tr>
      <th colspan="2"><%= t('view.comment') %>はこちらへ</th>
    </tr>
    <tr>
      <td colspan="2">
        <%= render partial: 'comments/form', locals: { comment: @comment, diary: @diary } %>
      </td>
    </tr>
    <% end %>
    <tr>
      <th colspan="2"><%= t('view.comment') %><%= t('view.index') %></th>
    </tr>
    <tr>
      <td colspan="2">
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, diary: @diary } %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <%= link_to '戻る', search_diaries_path, class: "btn purple lighten-4" %>
      </td>
    </tr>
  </table>
  </div>
</div>
