<p>
  <strong><%= t('view.worked_date') %>:</strong>
  <%= @diary.worked_date %>
</p>

<p>
  <strong><%= t('view.title') %>:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong><%= t('view.pose') %>:</strong>
  <%= @diary.pose.name %>
</p>

<p>
  <strong><%= t('view.image') %>:</strong>
  <%= image_tag(@diary.image.url) if @diary.image && @diary.image.url %>
</p>

<p>
  <strong><%= t('view.rank') %>:</strong>
  <%= @diary.rank %>
</p>

<p>
  <strong><%= t('view.tag') %>:</strong>
  <% @diary.tag_ids.each do |tag| %>
  <label style="background-color:lightpink"><%= Tag.find(tag).name %></label>
  <% end %>
</p>

<p>
  <strong><%= t('view.body') %>:</strong>
  <%= @diary.body %>
</p>

  <p>コメント一覧</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, diary: @diary } %>
  </div>

  <%= render partial: 'comments/form', locals: { comment: @comment, diary: @diary } %>

<%= link_to '編集', edit_diary_path(@diary) %> |
<%= link_to '戻る', diaries_path %>
