<h5>マイページ</h5>
<table>
  <tr>
    <td rowspan="6">
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar.url %>
      <% else %>
         &nbsp;
      <% end %>
    <td>
  </tr>
  <tr>
    <td>
      <%= @user.name %>
    </td>
  </tr>
  <tr>
    <td>
      フォロワー数
      <%= @user.followers.count %>
    </td>
  </tr>
  <tr>
    <td>
      フォローしている数
      <%= @user.following.count %>
    </td>
  </tr>
  <tr>
    <td>
      <h5>フォロワー一覧</h5>
      <% @user.followers.each do |follow| %>
      <%= link_to follow.name, user_path(follow.id) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
    <% if @user.id == current_user.id %>
      <div class="item">
        <h5><%= link_to 'メッセージ一覧', conversations_path %></h5>
      </div>
    <% end %>
    </td>
  </tr>
</table>
