<div class="container">
 <h5 class="h5-responsive" align="center">パスワード再設定</h5>

 <p class="p-2"></p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group row">
    <%= f.label :password, "新しいパスワード" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em><br />
      <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions" align="center">
    <%= f.submit "パスワード再設定", class: "btn indigo accent-1"  %>
  </div>
<% end %>
<p class="p-3"></p>

<%= render "devise/shared/links" %>
</div>
