<%= form_with(model: @event, local: true ) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h5 class="h5-responsive"><%= pluralize(@event.errors.count, "つのエラー") %> が存在しているため、保存出来ません:</h5>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
      <%= form.text_field :hold_date, id: :event_hold_date, class: "form-control datepicker", data: { target: '#event_hold_date'} %>
      <div class="input-group-append" data-target="#event_hold_date" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
     </div>
   </div>
   <script type="text/javascript">
     $(function () {
          $('#event_hold_date').datetimepicker();
     });
   </script>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :detail %>
    <%= form.text_area :detail, id: :event_detail, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :place %>
    <%= form.text_field :place, id: :event_place, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.url_field :url, id: :event_url, class: "form-control" %>
  </div>

  <div class="inline text-center">
  <div class="actions">
    <%= form.submit class: "btn indigo accent-1" %>
    <%= link_to '戻る', events_path, class: "btn purple lighten-4" %>
  </div>
  </div>
<% end %>
