<div class="container">
  <div class="col-12">
    <table class="table" width="100%">
      <tr>
        <th><%= t('view.event_hold_date') %></th>
        <td><%= @event.hold_date.to_s(:event_date) %></td>
      </tr>
      <tr>
        <th><%= t('view.event_name') %></th>
        <td><%= @event.name %></td>
      </tr>
      <tr>
        <th><%= t('view.event_detail') %></th>
        <td><%= @event.detail %></td>
      </tr>
      <tr>
        <th><%= t('view.event_place') %></th>
        <td><%= @event.place %></td>
      </tr>
      <tr>
        <th><%= t('view.event_url') %></th>
        <td><%= @event.url %></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <%= link_to '詳細', event_path(@event), class: "btn btn-outline-primary btn-sm" %>
          <%= link_to '編集', edit_event_path(@event), class: "btn btn-outline-info btn-sm" %>
          <%= link_to '戻る', events_path, class: "btn btn-outline-secondary btn-sm" %>
        </td>
      </tr>
    </table>
  </div>
</div>
