<div class="container">
  <div class="col-12">
    <table class="table" width="100%">
      <tr>
        <th><%= t('view.event_hold_date') %></th>
        <td><%= @event.hold_date.to_s(:event_date) %></td>
      </tr>

      <tr>
        <th><%= t('view.event_name') %></th>
        <td><%= @event.name %></td>
      </tr>

      <tr>
        <th><%= t('view.event_detail') %></th>
        <td><%= @event.detail %></td>
      </tr>

      <tr>
        <th><%= t('view.event_place') %></th>
        <td><%= @event.place %></td>
      </tr>

      <tr>
        <th><%= t('view.event_url') %></th>
        <td>
          <%= link_to @event.url, @event.url, target: "_blank" %>
        </td>
      </tr>

      <tr>
        <th><%= t('view.event_user') %></th>
        <td><%= link_to @event.user.name, user_path(@event.user) %></td>
      </tr>

      <% if @event.user == current_user %>
      <tr>
        <td colspan="2" align="center">
            <%= link_to '編集', event_path(@event), class: "btn indigo accent-1 mr-3" %>
            <%= link_to '削除', event_path(@event), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-outline-danger mr-3" %>
        </td>
      </tr>
      <% end %>
    </table>
    <div align="center">
      <%= link_to '戻る', events_path, class: "btn purple lighten-4" %>
    </div>
  </div>
</div>
