<div class="container">
  <div class="col-12">
    <table class="table" width="100%">
      <tr>
        <th><%= t('view.event_hold_date') %></th>
        <td><%= @event.hold_date.to_s(:event_date) %></td>
      </tr>
      <tr>
        <th><%= t('view.event_name') %></th>
        <td><%= @event.name %></td>
      </tr>
      <tr>
        <th><%= t('view.event_detail') %></th>
        <td><%= @event.detail %></td>
      </tr>
      <tr>
        <th><%= t('view.event_place') %></th>
        <td><%= @event.place %></td>
      </tr>
      <tr>
        <th><%= t('view.event_url') %></th>
        <td><%= @event.url %></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <% if @event.user == current_user %>
            <%= link_to '削除', event_path(@event), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-outline-danger" %>
          <% end %>
          <%= link_to '戻る', events_path, class: "btn purple lighten-4" %>
        </td>
      </tr>
    </table>
  </div>
</div>
