<h3><%= t('view.tag') %>を編集</h3>

<%= form_with(model: @tag, url: admin_tag_path, local: true ) do |form| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@tag.errors.count, "error") %> が存在しているため、保存出来ません:</h4>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, id: :tag_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to '戻る', admin_tags_path %>
