<div class="container">

<h4><%= t('view.effect') %><%= t('view.index') %></h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('view.effect') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @effects.each do |effect| %>
      <tr>
        <td><%= effect.name %></td>
        <td><%= link_to '編集', edit_admin_effect_path(effect) %></td>
        <td><%= link_to '削除', admin_effect_path(effect), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @effects %>

<%= link_to '効果新規作成', new_admin_effect_path, class: "btn btn-outline-primary" %>

<p style="margin: 5px">&nbsp;</p>

<%= link_to '戻る', admin_index_path, class: "btn btn-outline-secondary btn-sm"  %>
</div>
