<div class="container">

<h5 class="h5-responsive"><%= t('view.request_body') %><%= t('view.index') %></h5>

<%= search_form_for @q, url: admin_requests_path do |f| %>

  <div class="form-inline">
    <%= check_box_tag :all_status, class: "form-check-input" %>&nbsp;
    <%= f.label :all_status, "完了済の要望も表示する", class: "form-check-label" %>
    <span class="pr-5"></span><%= f.submit "表示", class: "btn purple lighten-4 btn-sm" %>
  </div>
<% end %>

<p class="p-1"></p>

<table class="table">
  <thead>
    <tr>
      <th><%= t('view.request_body') %></th>
      <th><%= t('view.user_name') %></th>
      <th><%= t('view.request_status') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.body %></td>
        <td><%= request.user.name %></td>
        <td><%= request.status %></td>
        <td><%= link_to '詳細', admin_request_path(request) %></td>
        <td><%= link_to '編集', edit_admin_request_path(request) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @requests %>

  <div align="center">
    <%= link_to '戻る', admin_index_path, class: "btn indigo accent-1"  %>
  </div>
</div>
