<div class="container">
  <div class="col-12">
    <table class="table" width="100%">
      <tr>
        <th><%= t('view.pose_name') %></th>
        <td><%= @pose.name %></td>
      </tr>
      <tr>
        <th><%= t('view.pose_name_sans') %></th>
        <td><%= @pose.sans_name %></td>
      </tr>
      <tr>
        <th><%= t('view.effect') %></th>
        <td>
          <% @pose.effect_ids.each do |effect| %>
            <label><%= Effect.find(effect).name %></label>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('view.pose_detail') %></th>
        <td><%= @pose.detail %></td>
      </tr>
      <tr>
        <th><%= t('view.pose_image') %></th>
        <td><%= image_tag(@pose.image.url) if @pose.image && @pose.image.url %></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <%= link_to '戻る', poses_path, class: "btn btn-outline-secondary btn-sm" %>
        </td>
      </tr>
    </table>
  </div>
</div>
