<p><%= @resource.name %> <%= t(".greeting") %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t(".message") %><%= @resource.unconfirmed_email %></p>
<% else %>
  <p><%= t(".message") %> <%= @resource.email %></p>
<% end %>
