<div class="container">

<h5 class="h5-responsive"><%= t('view.user') %><%= t('view.index') %></h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('view.user_name') %></th>
      <th><%= t('view.email') %></th>
      <th><%= t('view.admin') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= human_boolean(user.admin) %></td>
        <td><%= link_to '詳細', admin_user_path(user) %></td>
        <td><%= link_to '編集', edit_admin_user_path(user) %></td>
        <td><%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
<br>
<div align="center">
<%= link_to 'ユーザ新規作成', new_admin_user_path, class: "btn indigo accent-1" %>
<%= link_to '戻る', admin_index_path, class: "btn purple lighten-4" %>
</div>
</div>
