<h3><%= t('view.user') %>を追加</h3>

<%= form_with(model: @user, url: admin_users_path, local: true ) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> が存在しているため、保存出来ません:</h4>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= image_tag(@user.avatar.url) if @user.avatar && @user.avatar.url %>
    <%= form.file_field :avatar %>
    <%= form.hidden_field :avatar_cache %>
  </div>

  <div class="field">
    <%= form.label :admin %>
    <%= form.check_box :admin, id: :user_admin %>
  </div>

  <%= form.hidden_field :confirmed_at, :value => Time.now %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to '戻る', admin_users_path %>
