<div class="container">
  <div class="col-12">
    <table class="table" width="100%">
      <tr>
        <th><%= t('view.user_name') %></th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th><%= t('view.email') %></th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th><%= t('view.avatar') %></th>
        <td><%= image_tag(@user.avatar.url) if @user.avatar && @user.avatar.url %></td>
      </tr>
      <tr>
        <th><%= t('view.admin') %></th>
        <td><%= human_boolean(@user.admin) %></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <%= link_to '編集', edit_admin_user_path(@user), class: "btn indigo accent-1" %>
          <%= link_to '戻る', admin_users_path, class: "btn deep-purple lighten-1" %>
        </td>
      </tr>
    </table>
  </div>
</div>
