<div class="container">
<p>
  <strong><%= t('view.user_name') %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('view.email') %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('view.avatar') %>:</strong>
  <%= image_tag(@user.avatar.url) if @user.avatar && @user.avatar.url %>
</p>

<p>
  <strong><%= t('view.admin') %>:</strong>
  <%= @user.admin %>
</p>

<%= link_to '詳細', admin_user_path(@user) %> |
<%= link_to '編集', edit_admin_user_path(@user) %> |
<%= link_to '戻る', admin_users_path %>
</div>
