<div class="container">

<h4><%= t('view.pose') %>を編集</h4>

<%= form_with(model: @pose, url: admin_pose_path, local: true ) do |form| %>
  <% if @pose.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@pose.errors.count, "error") %> が存在しているため、保存出来ません:</h4>

      <ul>
      <% @pose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pose_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sans_name %>
    <%= form.text_field :sans_name, id: :pose_sans_name, class: "form-control" %>
  </div>

  <div class="form-inline">
    <div class="form-group pb-2">
      <%= form.label :effect %>
      <% if action_name == "new" || action_name == "create" %>
        <%= form.fields_for :effect_ids do |effect| %>
          <%= effect.collection_select(nil, Effect.all, :id, :name,
            {include_blank: "選択してください", selected: 0},
            {id: :user_effect_id_1, class: "form-control m-1"}) %>
          <%= effect.collection_select(nil, Effect.all, :id, :name,
            {include_blank: "選択してください", selected: 0},
            {id: :user_effect_id_2, class: "form-control m-1"}) %>
          <%= effect.collection_select(nil, Effect.all, :id, :name,
            {include_blank: "選択してください", selected: 0},
            {id: :user_effect_id_3, class: "form-control m-1"}) %>
        <% end %>
      <% elsif action_name == "edit" || action_name == "update" %>
        <%= form.fields_for :effect_ids do |effect| %>
          <%= effect.collection_select(nil, Effect.all, :id, :name,
            {include_blank: "選択してください", selected: @pose.effect_ids[0] },
            {id: :user_effect_id_1, class: "form-control m-1"}) %>
          <%= effect.collection_select(nil, Effect.all, :id, :name,
            {include_blank: "選択してください", selected: @pose.effect_ids[1] },
            {id: :user_effect_id_2, class: "form-control m-1"}) %>
          <%= effect.collection_select(nil, Effect.all, :id, :name,
            {include_blank: "選択してください", selected: @pose.effect_ids[2] },
            {id: :user_effect_id_3, class: "form-control m-1"}) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :detail %>
    <%= form.text_area :detail, id: :pose_detail, class: "form-control" %>
  </div>

  <div class="form-inline">
    <div class="form-group">
      <%= form.label :image %>
      <%= image_tag(@pose.image.url) if @pose.image && @pose.image.url %>
      <%= form.file_field :image , class: "form-control-file" %>
      <%= form.hidden_field :image_cache %>
    </div>
    <% if @pose.image && @pose.image.url %>
    <div class="form-group">
      <%= form.check_box :remove_image, id: :pose_remove_image, class: "form-check-input" %>
      <%= form.label :remove_image, class: "form-check-label" %>
    </div>
    <% end %>
  </div>
  <p style="margin: 5px">&nbsp;</p>
  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
<br>

<%= link_to '戻る', admin_poses_path, class: "btn btn-outline-secondary btn-sm"  %>
</div>
