<!DOCTYPE html>
<html>
  <head>
    <title>Yuruyoga</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-expand-sm navbar-primary sticky-top">
      <%= link_to "ゆるヨガ日記", root_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenu" aria-controls="navbarmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarmenu">
        <ul class="navbar-nav">
        <% if ! user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "新規アカウント作成", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        <% else %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "管理画面", admin_index_path, class: "nav-link" %>
            </li>
          <% end %>
        <li class="nav-item">
          <%= link_to "日記を書く", new_diary_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "日記検索", search_diaries_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ポーズ検索", poses_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "イベント", events_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "プロフィール", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", users_sign_out_path, class: "nav-link" %>
        </li>
        <% end %>
        </ul>
      </div>
    </nav>
    <% if ! request.path == "top" %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <% end %>

    <%= yield %>

    <p style="margin: 5px">&nbsp;</p>

    <footer class="footer">
      <div class="container">
        <p class="text-footer">COPYRIGHT &#169; R.W. ALL RIGHTS RESERVED.</p>
      </div>
    </footer>

  </body>

</html>
